@import "variables";

.TravelmateCard {
	display: flex;
    border: $border-gray-md;
    border-radius: $border-radius-lg;
    padding: $padding-xs;
}

	.TravelmateCard__content {
		margin-left: $margin-sm;
	}

    .TravelmateCard__metaTop {
    	margin-bottom: $margin-sm;
    }

    .TravelmateCard__title {
    	color: $gray-darkest;
    	font: $font-heading-md;
    	margin-bottom: $padding-sm;
    	line-height: $line-height-lg;
    }
